.u-header-with-tags {
    position: relative;

    &__icons {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(150%, -100%);
        display: flex;

        img {
            width: 70px;
            height: 70px;
    
            object-fit: contain;
            filter: brightness(0) invert(1);
        }
    }
}

@mixin utility-tag-icon--mobile {
    .u-header-with-tags {
        &__icons {
            display: none;
        }
    }
}