.m-tour-info-bottom-panel {
    @include ph(4);
    @include pv(4);

    width: 100%;

    background-color: $color-white;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);

    &__point {
        &:not(:last-child) {   
            @include mb(2);
        }
        
        @include ph(4);
        @include pv(4);

        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    
        > * {
            &:not(:last-child) {
                @include mb(2);
            }
        }
    }

    &_theme_green {
        background-color: $color-green-light;
        color: $color-white;

        a {
            border-bottom: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    del {
        opacity: 0.75;
    }
}