.m-tour-info-video-container {
    &__video {
        &-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
            border-radius: 20px;
        }
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &__description {
        > p {
           &:not(:last-child) {
               @include mb(6);
           } 
        }
    }

    &__img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}