// core
@import "../core/variables/spaces";
@import "../core/variables/colors";
@import "../core/variables/fonts";

// bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// swiper
@import "~swiper/swiper-bundle";

// utilities
@import "../utilities/tours/mobile_slider";



.point {
    background-color: $color-white;
    border-radius: 20px;

    img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
    @include utility-tours-slider--mobile;
}