@import "../core/variables/spaces";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";



.header {
    position: relative;
    min-height: 100vh;

    &::after {
        background-color: url(https://wallpapershome.ru/images/pages/pic_h/6487.jpg);
    }
}