.u-text {
    &_color {
        @each $color, $value in $colors { 
            &_#{$color} { color: $value; } 
        }
    }


    &_size {
        &_28 {
            font-size: $font-size-28;
            line-height: 1.5em;
        }
        
        &_24 {
            font-size: $font-size-24;
            line-height: 1.5em;
        }
    }
}

@mixin utility-text--mobile {
    .u-text {
        &_size {
            &_28 {
                font-size: $font-size-28-mobile;
            }

            &_24 {
                font-size: $font-size-24-mobile;
            }
        }
    }
}