.form {
    max-width: 500px;
    width: 100%;

    background-color: white;
    border-radius: 20px;

    &-input {
        @include pv(2);
        @include ph(4);

        width: 100%;
        color: $color-green;
        border: solid 3px $color-green;
        border-radius: 20px;
    }
}