.m-tour-card {
    position: relative;
    max-width: 380px;
    width: 100%;

    border-radius: 20px;
    overflow: hidden;
    color: $color-white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);

    &__image {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        &-wrapper { 
            position: relative;
            z-index: 0;
            display: block;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(1, 115, 126, 0.5) 100%);
            }

            &::after {
                content: '';
                display: block;
                padding-bottom: 150%;
            }
        }
    }

    &__tags {
        display: flex;
        justify-content: flex-end;
        height: 40px;
    }

    &__tag {
        display: block;
        filter: brightness(0) invert(1);

        img {
            width: 40px;
            height: 100%;
        }
    }

    &__content {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
        min-height: auto;
    }

    &__paragraph {        
        overflow: hidden;
        flex-basis: calc(#{$line-height-main} * 4);

        text-overflow: ellipsis;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    
    &__title {
        overflow: hidden;
        flex-basis: calc(#{$line-height-h3} * 2);

        text-overflow: ellipsis;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        > a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > * {
            flex-grow: 1;
        }
    }

    &__price {
        letter-spacing: 0.05em;

        & > span {
            &:first-child {
                font-weight: 700;
            }

            &:last-child {
                opacity: 0.75;
            }
        }
    }
}

@mixin module-tours-card--mobile {
}