*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 2px transparent;
}

button:hover,
a:hover {
  cursor: pointer;
}
