// @each $index, $space in $spacers {
//     ._mt-#{$index} { margin-top:    $space; }
//     ._mb-#{$index} { margin-bottom: $space; }
//     ._ml-#{$index} { margin-left:   $space; }
//     ._mr-#{$index} { margin-right:  $space; }

//     ._mh-#{$index} { margin-left: $space; margin-right:  $space; }
//     ._mv-#{$index} { margin-top:  $space; margin-bottom: $space; }

//     ._pt-#{$index} { padding-top:    $space; }
//     ._pb-#{$index} { padding-bottom: $space; }
//     ._pl-#{$index} { padding-left:   $space; }
//     ._pr-#{$index} { padding-right:  $space; }

//     ._ph-#{$index} { padding-left: $space; padding-right:  $space; }
//     ._pv-#{$index} { padding-top:  $space; padding-bottom: $space; }
// }
// @use "sass:map";


// @mixin mt($index) { margin-top:    map.get($spacers, $index); }
// @mixin mb($index) { margin-bottom: map.get($spacers, $index); }
// @mixin ml($index) { margin-left:   map.get($spacers, $index); }
// @mixin mr($index) { margin-right:  map.get($spacers, $index); }

// @mixin mv($index) { margin-top:  map.get($spacers, $index); margin-bottom: map.get($spacers, $index); }
// @mixin mh($index) { margin-left: map.get($spacers, $index); margin-right:  map.get($spacers, $index); }

// @mixin pt($index) { padding-top:    map.get($spacers, $index); }
// @mixin pb($index) { padding-bottom: map.get($spacers, $index); }
// @mixin pl($index) { padding-left:   map.get($spacers, $index); }
// @mixin pr($index) { padding-right:  map.get($spacers, $index); }

// @mixin pv($index) { padding-top:  map.get($spacers, $index); padding-bottom: map.get($spacers, $index); }
// @mixin ph($index) { padding-left: map.get($spacers, $index); padding-right:  map.get($spacers, $index); }