$font-size-main:      18px;
$font-size-mobile:    16px;


$line-height-main:    1.5em;
$line-height-mobile:  $line-height-main;


$font-size-28:        1.55rem;
$font-size-28-mobile: 1.25rem;
$font-size-24:        1.33rem;
$font-size-24-mobile: 1.25rem;


$font-size-h1:        3.11rem;
$font-size-h2:        2.66rem;
$font-size-h3:        $font-size-28;


$line-height-h1:      1.5em;
$line-height-h2:      1.5em;
$line-height-h3:      1.25em;