.m-contact-card {
    position: relative;
    margin-top: (200px / 2);

    max-width: 500px;
    width: 100%;

    background-color: $color-white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    &__image {
        &-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-50%);

            width: 200px;
            height: 200px;

            border-radius: 50%;
            filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2));
        }

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__link {
        @extend .u-text_size_24;

        display: block;
        border: solid 3px $color-black;
        border-radius: 20px;
    }
}

@mixin module-contact-card--mobile {    
    .m-contact-card {
        br {
            display: none;
        }

        &__image {
            &-wrapper {
                left: 50%;
                transform: translate(-50%, -60%);
            }
        }
    }
}