.m-form {
    max-width: 500px;
    width: 100%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);

    &-input {
        @include pv(2);
        @include ph(4);

        width: 100%;
        color: $color-green-light;
        border: solid 3px $color-green-light;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;

        transition: border $animation-speed-main ease;

        &:focus {
            border: solid 3px $color-green;
        }
    }

    &-button {
        width: 100%;
    }
}