.m-partner-card {
    max-width: 380px;
    width: 100%;
    background-color: white;
    border-radius: 20px;

    &__image {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 16px;
    
        &-wrapper { 
            position: relative;
            z-index: 0;
            display: block;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                padding-bottom: 35%;
            }
        }
    }
}