html {
    font-size: $font-size-main;
    line-height: $line-height-main;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background-color: rgb(0, 54, 102);
}