.btn {
    display: inline-block;
    font-size: $font-size-24;
    color: white;
    text-align: center;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 20px;

    &_size_sm {
        @include pv(2);
        @include ph(4);

        font-size: $font-size-base;
    }

    &_size_lg {
        @include pv(3);
        @include ph(3);

        max-width: 400px;
        width: 80%;
        font-size: $font-size-24;
    }

    &_theme_secondary {
        background-color: white;
        color: $color-black;
    }

    &_theme_green {
        background-color: $color-green;
        color: white; 
        border: solid 3px $color-green;
    }
}