.u-page-background {
    $wave_size: (560 * 100vw) / 1920;
    $offset_2_k: 1.40;
    $offset_1_k: 0.75;

    position: relative;
    z-index: 0;

    > * {
        position: relative;
        z-index: 1;
    }

    &__image {
        position: absolute;
        z-index: -2;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &-fallback {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-top &__image {
        top: 0;
    }

    &-bottom &__image {
        bottom: 0;
    }

    &-top.offset_2 &__image,
    &-bottom.offset_2 &__image {
        height: calc(100% + #{$wave_size} * #{$offset_2_k});
    }

    &-top.offset_1 &__image,
    &-bottom.offset_1 &__image {
        height: calc(100% + #{$wave_size} * #{$offset_1_k});
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;

        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, #01AEBC 0%, #01737E 32.55%, #005760 88.3%);
        opacity: 0.5;
    }

    &-top::before {
        top: 0;
    }

    &-bottom::before {
        bottom: 0;
    }

    &-top.offset_2::before,
    &-bottom.offset_2::before {
        height: calc(100% + #{$wave_size}  * #{$offset_2_k});
    }

    &-top.offset_1::before,
    &-bottom.offset_1::before {
        height: calc(100% + #{$wave_size}  * #{$offset_1_k});
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 0;

        width: 101%;
        height: calc(#{$wave_size});
        
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/images/static/wave-top.svg);
    }

    &-top::after {
        bottom: 0;
        left: 0;
        transform: translateY(3px);
    }

    &-bottom::after {
        top: 0;
        right: 0;
        transform: rotateZ(180deg) translateY(3px);
    }

    &-top.offset_2::after {
        transform: translateY( calc((100% * #{$offset_2_k}) + 3px) );
    }
    
    &-bottom.offset_2::after {
        transform: rotateZ(180deg) translateY( calc((100% * #{$offset_2_k}) + 3px) );
    }

    &-top.offset_1::after {
        transform: translateY( calc((100% * #{$offset_1_k}) + 3px) );
    }
    
    &-bottom.offset_1::after {
        transform: rotateZ(180deg) translateY( calc((100% * #{$offset_1_k}) + 3px) );
    }
}

// 1920    100%
// 563     x