.footer {
    position: relative;
    z-index: 1;
    background-color: $color-green-light;

    &__logo {
        &-wrapper {
            z-index: 1;
            display: inline-block;
            height: 40px;
            width: 224;
            border-bottom: 0;
        }

        display: block;
        filter: brightness(0) invert(1);
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        font-weight: 700;
        color: $color-white;

        border-color: $color-green-light;
        transition: border-bottom $animation-speed-main ease;
    
        > a:hover {
            border-bottom: solid 2px $color-white;
        }
    }

    &__line {
        width: 100%;
        height: 3px;
        background-color: $color-white;
    }

    &__social {
        &-links {
            display: flex;
            justify-content: space-between;
        }
    
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
    
            width: 40px;
            height: 40px;
            
            fill: $color-green-light;
    
            background-color: $color-white;
            border: solid 2px $color-white;
            border-radius: 50%;

            transition: 
                fill $animation-speed-main ease,
                background-color $animation-speed-main ease,
                border $animation-speed-main ease
                ;

            &:hover {
                fill: $color-white;
                background-color: $color-green-light;
            }
        }
    }
}

@mixin include-footer--mobile {
    .footer {
        &__links {
            flex-wrap: wrap;
        }
        
        &__link {
            flex: 50%;
        }
    }    
}